* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: #78aeff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  gap: 8rem;
  padding: 0 20rem;
}

.infoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoHeader {
  color: white;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

.infoDescription {
  color: white;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.formContainer {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 0.75rem;
  padding: 0.25rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.2);
}

input,
select {
  width: 100%;
  height: 4rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  padding: 0 1.25rem;
  margin-bottom: 1rem;
  font-size: medium;
}

button {
  width: 100%;
  height: 3.6rem;
  border: none;
  border-radius: 0.25rem;
  background: #37cc8a;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 0.75rem;
}

button:disabled,
button[disabled] {
  width: 100%;
  height: 3.6rem;
  border: none;
  border-radius: 0.25rem;
  background: #b5b5b5;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 0.75rem;
}

.msgContainer {
  background: #f00000;
  color: white;
  padding: 1.25rem;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1.75rem;
  box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.3);
}
.msgHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.msgHeader span {
  font-weight: 800;
}

.selectedSkills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.selectedSkill {
  background: #dcdcdc;
  color: #777777;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.removeSkillBtn {
  background: none;
  border: none;
  color: #777777;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  margin-left: 0.5rem;
}
